main {
  height: 100%;
}

main > p {
  font-family: "Yesteryear", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large !important;
  font-size: 1.5rem;
  text-align: center;
  margin: 25px 0px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.637);
  color: #0d0d0d;
}

#mainContainer {
  padding: 20px;
  margin-bottom: 50px;
}

.cardSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: linear-gradient(to right, #f21b42, #e76c50);
  color: #f2f1e9;
  min-width: none;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: solid black 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.637);
}

.card > h3 {
  margin: 10px 0px;
  text-align: end;
  font-size: 1.6rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.637);
}

.cardSubtitle {
  margin: 10px 0px;
  text-align: end;
  font-weight: 900;
  font-style: oblique;
}

.cardDescription {
  margin: 10px 0px;
  flex-grow: 1;
}

.imgContainer {
  width: 250px;
  height: 150px;
  overflow: hidden;
  background-position: center;
  border-radius: 5px;
  align-self: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.637);
  margin: 20px auto;
}

.imgItself {
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  object-fit: contain;
}

.btnAdditionalInfo {
  margin-top: 20px;
  background-color: #275a7b;
  color: #f2f1e9;
  border-radius: 40px;
  padding: 5px 15px;
  border: none;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.637);
  cursor: pointer;
}

footer {
  background-color: #275a7b;
  color: #f2f1e9;
  height: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.637);
  text-align: center;
  align-content: center;
}

footer > p {
  margin: 0px;
}

@media (max-width: 768px) {
  .cardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .cardSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
